*{
    padding: 0;
    margin: 0;
}

body{
    background-position: center;
    background-color: #e5e6e4;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    
}   

header{
    height: 11vh;
    text-align: center;
    background-image: url(img/News_thumbnail_default.jpg);
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 900%;
    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content: center;
}

.titulo-pagina{
    display: block;
    color: #e5e6e4;
}

.sub{
    display: block;
    position: center;
    color: #967E76;
    .video{
        position:  absolute;
        width: 105vw;
        text-align: center;
        color:#546a7b;
}
.txt{
    position:  center;
    width: 100vw;
    text-align: center;
    color:#546a7b;
}
}
.temporada{
    position:  absolute;
    width: 100vw;
    text-align: center;
    color:#546a7b;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
}
    
